/* main */
.mainpart{
    display: flex;
    background-color:#E6E6E6 ;

    justify-content:space-around ;
}


.written part{
    margin-right: 1000px;


}
.part1{
font-size: 50px;
}
.okies{
    font-size: 30px;
}
.btn{
background-color:orangered;
width: 156px;
height: 65px;
border-style: none;
margin-top: 20px;
font-style:system-ui, system-ui, sans-serif ;
font-size: 20px;
}
/* main part 1st one */
.secondpart{
    display: flex;
    justify-content: center;

}


.headings{
    font-size: 50px;
}
.ppp{
    font-size: 20px;
}
.no{
    font-size: 20px;
}
.seconddivhead{
    margin-top: 300px;
    margin-left: 70px;
}
.imgmain{
    margin-top: 100px;
}