/* main */
.mainpart{
 
   background-image: url(/essentials/images/banner/banner1.png);
   background-repeat: no-repeat;
background-size: cover;
   background-position: center;
  
   padding-bottom: 400px;
   padding-top: 200px;
 }
 
 

.writtenpart{
   margin-left: 1000px;
   margin-right: 200px;
   margin-top: 50px;
    
   
}
.part1{
font-size: 50px;
}
.okies{
    font-size: 30px;
}
.btn{
background-color:orangered;
width: 156px;
height: 65px;
border-style: none;
margin-top: 20px;
font-style:system-ui, system-ui, sans-serif ;
font-size: 20px;
font-weight: 400;
}
/* main part 1st one */
.secondpart{
    display: flex;
    justify-content: center;

}


.headings{
    font-size: 50px;
}
.ppp{
    font-size: 20px;
}
.no{
    font-size: 20px;
}
.seconddivhead{
    margin-top: 300px;
    margin-left: 70px;
}
.imgmain{
    margin-top: 100px;
}
/* thirdpart */
.plans{
    text-align: center;
    margin-top: 70px;
    font-size: 50px;
}
.thirdflex{
    display: flex;
    justify-content: space-around;
    margin-top: 80px;
    margin-right: 60px;
    text-align: center;
}
.size{
    font-size: 25px;
}
<div class="imagepart">
        /* <img src="/essentials/images/banner/banner1.png" alt="" srcset="" > */